name: Tauri Release

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: write
  actions: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: Install dependencies
        run: npm install --force

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0.5.8
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: ""
          releaseName: ""
          releaseDraft: false
          prerelease: false
          includeUpdaterJson: false

      # ---------- CREATE RELEASE ----------
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: "Ma_Boutique_v${{ github.ref_name }}"
          draft: false
          prerelease: false

      # ---------- UPLOAD DMG ----------
      - name: Upload DMG
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: src-tauri/target/release/bundle/dmg/Ma Boutique_${{ github.ref_name }}_aarch64.dmg
          asset_name: Ma_Boutique_${{ github.ref_name }}.dmg
          asset_content_type: application/octet-stream
